<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blockchain Frontend</title>
    <style>
        header, footer{
            background-color: black;
            color : white;
            height:100px;
            border : 5px solid black;
        }
        nav{
            padding : 0;
            background-color : black;
            color : white;
        }
        nav ul li{
            display : inline;
            margin : 5px;
        }
        body{

            background-color: lightgray;
        }
        a{
            color : white;
        }
        .main_block{

            padding : 10px;
            margin : 5px;
        }
        article{
            background-color: white;
        }
        td{
            width: 200px;
            height: 50px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <h1 align="center">BLOCKCHAIN NODE</h1>
        <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/configure">Configure</a></li>
        </ul>
    </nav>
    </header>
    <section class = 'main_block'>
        <article>
            <div align="center">
                <h4>Transaction to be added to the next block</h4>
                <button type="submit" id="refresh_transactions">Refresh</button>
                <br><br>
                <table id="unmined_transaction_table" cellspacing="0" width="80%" border="3">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Sender Public Key</th>
                            <th>Recipient Public Key</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                </table>
                <br><br>
                <input id="mine_button" type="button" value="Mine">

            </div>
        </article>
    </section>

    <section class = 'main_block'>
        <article>
            <div align="center">
                <h4>Transactions on Blockchain</h4>
                <button type="submit" id="refresh_blockchain">Refresh</button>
                <table id="transaction_table" cellspacing="0" width="80%" border="3">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Sender Public Key</th>
                            <th>Recipient Public Key</th>
                            <th>Amount</th>
                            <th>Timestamp</th>
                            <th>Block No.</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </article>
    </section>
    <footer></footer>
    <script>
        $(function(){
            $.ajax({
                url : '/chain',
                type: 'GET',
                success: function(response){
                   console.log(response);
                   let count = 1;
                   for(i = 0; i < response['length']; i++){
                        for(j = 0;j < response['chain'][i]['transactions'].length; j++){

                        var theDate = new Date(response['chain'][i]['timestamp'] * 1000);
                        dateString = theDate.toGMTString();
                            $('#transaction_table').append(
                                "<tr>" +
                                    "<td align=center>" + count + "</td>" +
                                    "<td align=center>" + response['chain'][i]['transactions'][j]['sender_public_key'].slice(0,50) +'.....' + "</td>" +
                                    "<td align=center>" + response['chain'][i]['transactions'][j]['recepient_public_key'].slice(0,50) +'.....' + "</td>" +
                                    "<td align=center>" + response['chain'][i]['transactions'][j]['amount'] +"</td>" +
                                    "<td align=center>" + dateString +"</td>" +
                                    "<td align=center>" + response['chain'][i]['block_number'] +"</td>" +
                                "</tr>"
                            );
                            count++;
                        }
                    }
                },
                error: function(error){
                    console.log(error);
                }
            });

            $.ajax({
                url:'/transactions/get',
                type:'GET',
                success: function(response){
                    for(i = 0; i < response['transactions'].length; i++){
                        $('#unmined_transaction_table').append(
                            "<tr>" +
                                "<td align=center>" + (i + 1) + "</td>" +
                                "<td align=center>" + response['transactions'][i]['sender_public_key'].slice(0,50) +'.....' + "</td>" +
                                "<td align=center>" + response['transactions'][i]['recepient_public_key'].slice(0,50) +'.....' + "</td>" +
                                "<td align=center>" + response['transactions'][i]['amount'] +"</td>" +
                            "</tr>"
                        );
                    }
                },
                error: function(error){
                    console.log(error);
                }
            });
            $("#mine_button").click(function(){
                $.ajax({
                    url : '/mine',
                    type: 'GET',
                    success: function(response){
                        window.location.reload();
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            });
            $('#refresh_transactions').click(function(){
                window.location.reload();
            });
            $('#refresh_blockchain').click(function(){
                $.ajax({
                    url : '/nodes/resolve',
                    type: 'GET',
                    success: function(response){
                        window.location.reload();
                        console.log(response)
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            });
        });
    </script>
</body>
</html>